/build
/src/main/res/xml/data_extraction_rules.xml
/src/test/java/com/example/groceryapp/ExampleUnitTest.java
/src/androidTest/java/com/example/groceryapp/ExampleInstrumentedTest.java
/src/main/res/mipmap-hdpi/ic_launcher.webp
/src/main/res/mipmap-mdpi/ic_launcher.webp
/src/main/res/mipmap-xhdpi/ic_launcher.webp
/src/main/res/mipmap-xxhdpi/ic_launcher.webp
/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/src/main/res/drawable/ic_launcher_background.xml
/src/main/res/drawable-v24/ic_launcher_foreground.xml
/src/main/res/mipmap-hdpi/ic_launcher_round.webp
/src/main/res/mipmap-mdpi/ic_launcher_round.webp
/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/proguard-rules.pro
